body{
    background-image: linear-gradient(rgb(255, 255, 255),rgb(183, 251, 255));
    background-attachment: fixed;
}

.red {
    color: red;
}
.text-center {
    text-align: center;
}
div {
    margin-top: 60px;
    text-align: center;
}